{% extends 'base.html' %}

{% block content %}
    <h1>Busting weird and wacky fixes since 1975.</h1>
    <p>Yep, I make stuff. All sorts of stuff. Been doing it all my life and thats not a particularly unusual story.</p>
    <p>I'll turn my hand to any creative skill, doesn't matter if I've not done it before, frankly that just makes me want to do it more.</p>
    <p>One florid thing I'll say (aside of using the word 'florid') is that I think that any skill made to use something is a creative skill. Doesn't matter to me if it uses VSCode, markdown docs and a personaly crafted Python Flask app, Microsoft Word to create a design doc, a rotary spinny saw of messy dismemberment to cut <i>actual</i> 90 degree cuts, 3D printers for cases for odd little circuit boards I've made by laser cutting paint off copper boards and then dissolving the exposed copper using ferric chloride or messing around with doodly pens just because.<br />
    All said and done, something was created. Keeping that new (or further honed) skill close so I know I can do it again, or use it a bit differently is like having an increasingly awesome toolbox of the mind.</p>
{% endblock %}