{% extends 'base.html' %}

{% block content %}
    <h1>Privacy, personal information and how this site impacts those for visitors</h1>
    <p>This site has been created and is maintained purely to host things I've been working on or as a repository for me to keep things I want to remember.</p>
    <p>Aside of server logs and the cookies that are issued by the browsers this iste doesn't require any form of visitor information.</p>
    <p>...this is a long winded way of me saying cookie popups irritate me and I'll be damned if I want them on my own site. This site doesn't use cookies or any server-side session sniff so if you're happy enough with that I'm more than happy not to have a cookie popup.</p>
{% endblock %}